{% extends "base_profile.html" %}

{% block content %}
<script src="/static/js/medicines.js"></script>
<div class="first-info">
    <p style="font-weight: bold;">Fullname:</p>
    <p>
      {{ current_user.name }} {{ current_user.lastname }}
    </p>
    <p style="font-weight: bold;">Date of Birth:</p>
    <p>
      {{ current_user.month }} {{current_user.day}}, {{ current_user.year }}
    </p>
</div>
<div class="info">
  <p style="font-weight: bold;">Medical Conditions:</p>
  <p>
    te falta hacer esto
  </p>
  <p style="font-weight: bold;">Medications:</p>
  <div id="medications"></div>
  <p><b>Blood Type: </b>{{current_user.blood_type}}</p>
  <p><b>Weight: </b>{{current_user.weight}}</p>
  <p><b>Height: </b>{{current_user.height}}</p>
</div>

{% endblock %}
{% block save_edit %}
<a href="/edit_profile">
  <button class="edit-btn" value="edit">
  edit
  </button>
</a>
{% endblock %}
